<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta email="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora com Histórico</title>
</head>
<body>
    <h1><em>Calculadora</em></h1>

    <form method="POST" action="/somar">
        <input type="text" name="a" id="a" />
        <strong> +</strong>
        <input type="text" name="b" id="b" />
        <input type="submit" value="Somar" />
        </form>

    <form method="POST" action="/subtrair">
        <input type="text" name="a" id="a" />   
        <strong> -</strong>
        <input type="text" name="b" id="b" />
        <input type="submit" value="Subtrair" />
        </form>

        <form method="POST" action="/multiplicar">
            <input type="text" name="a" id="a" />   
            <strong> x</strong>
            <input type="text" name="b" id="b" />
            <input type="submit" value="Multiplicar" />
            </form>

            <form method="POST" action="/dividir">
                <input type="text" name="a" id="a" />   
                <strong> /</strong>
                <input type="text" name="b" id="b" />
                <input type="submit" value="Dividir" />
                </form>

    <h2 th:if="${resultado != null}" th:text="${resultado}"></h2>
    <ul th:if="${historico != null}">
        <li th:each="item : ${historico}" th:text="${item}"></li>
    </ul>
</body>
</html>